html
    head
        title=  title
    style
        include style.css
    body
        h1#title= "Welcome to Kenziegram"
        form(method='POST' action='/public/upload' enctype='multipart/form-data')
            fieldset
                input(type='file' name='myPhoto' id='inputPhoto')
                input(type='submit')

        each photo in photos
             img(src=`/uploads/${photo}`
             height='250px'
             width='250px')

        