body {
  background-image: linear-gradient(
    to bottom right,
    #ee7a83,
    #86a2fd,
    #d19cab,
    #9893ea
  );
}

#title {
  color: rgb(33, 60, 77);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
  width: 450px;
  color: black;
  border: 2px solid rgb(33, 60, 77);
  margin-bottom: 20px;
}
form {
  margin: 0 auto;
  display: table;
  height: 50px;
}

#inputPhoto {
  font-weight: bold;
}

#submit {
  font-weight: bold;
}

img {
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 5px solid #d19cab;
  background-color: white;
}
